---
const { frontmatter } = Astro.props;
import "../styles/global.css"
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout pageTitle={frontmatter.title}>
<img width="300" src={frontmatter.image.url} alt={frontmatter.image.alt}>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<li> {frontmatter.table[0]}</li>
<li> {frontmatter.table[1]}</li>
<li> {frontmatter.table[2]}</li>
<slot/>
</BaseLayout>